@font-face {
    font-family: "Chomsky";
    src: url("assets/fonts/Chomsky.otf") format("opentype");
}

@font-face {
    font-family: "Karnak Condensed";
    src: url("assets/fonts/NYTKarnakCondensed.woff2") format("woff2");
}

@font-face {
    font-family: "Franklin ExtraLight";
    src: url("assets/fonts/Franklin/LibreFranklin-ExtraLight.ttf")
        format("truetype");
}

@font-face {
    font-family: "Franklin Medium";
    src: url("assets/fonts/Franklin/LibreFranklin-Medium.ttf")
        format("truetype");
}

@font-face {
    font-family: "Franklin Bold";
    src: url("assets/fonts/Franklin/LibreFranklin-Bold.ttf") format("truetype");
}

body {
    background-color: white;
    margin: 0;
    line-height: 0;
}

.nyt-header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
    padding: 12px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #e1e1e1;
    gap: 21px;
}

.hamburger {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 22px;
    margin-bottom: 4px;
}

.hamburger div {
    height: 3.5px;
    background-color: black;
    border-radius: 3px;
}

.logo img {
    height: 33px;
    width: auto;
    margin-top: 3px;
}

.game-header {
    padding: 20px 70px 10px 50px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 20px;
    border-bottom: 1px solid #e1e1e1;
}

.game-name {
    font-family: "Karnak Condensed";
    font-size: 45px;
}

.date {
    font-family: "Franklin ExtraLight";
    font-size: 28px;
    font-weight: 100;
}

.toolbar {
    position: sticky;
    top: 60px;
    background-color: white;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e1e1e1;
    padding: 0px 30px;
}

.toolbar-modes {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 20px;
}

.mode-btn {
    font-family: "Franklin Medium", sans-serif;
    font-size: 14px;
    padding: 12px;
    border: 1px solid black;
    border-radius: 32px;
    width: 100px;
    background: #fff;
    cursor: pointer;
    transition: all 0.15s;
}

.mode-btn:hover {
    background: #f0f0f0;
}

.mode-btn.active {
    background: #050505;
    color: #fff;
    border-color: #222;
}

.toolbar-hints {
    display: flex;
    align-items: center;
}

.hint {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    position: relative;
}

.hint:hover {
    background-color: #ebebeb;
}

.hint img {
    height: 50px;
    width: auto;
}

.hint span {
    font-family: "Franklin Medium";
    position: absolute;
    top: 43%;
}

#hint-1 span {
    left: 46%;
}

#hint-2 span {
    left: 44%;
}

#hint-3 span {
    left: 44%;
}
